<!DOCTYPE html>
{% load static %}    
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.ico' %}"/>
    <title>Encuesta PISLEA  </title>
</head>
<body class="m-0 lg:m-2">
    {% if user.is_authenticated %}
    <img src='{% static "images/msdh.png" %}' style="height:80px;">
    <div class="dark:bg-gray-800 text-white">
        <div class="container mx-auto flex justify-end">
            <a href="{%url 'progreso' %}" class="px-5">
                <button class="bg-teal-500 hover:bg-teal-700 text-white font-bold py-2 px-4 rounded">
                    Progreso
                </button>
            </a>

            <a href="{% url 'logout' %}"> <Button class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded">
                Cerrar Secion</Button></a>
        </div>
      </div>
    {% endif %}

    {% block content %}
    {% endblock %}

</body>
</html>