{% extends 'base.html' %}
{% block content %}


<div class="flex items-center justify-center my-10">
    <div class="w-full md:w-10/12">
        <div class="w-full relative overflow-x-auto shadow-md sm:rounded-lg">
        <table class="w-full text-sm text-left text-gray-500">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50">
            <tr>
                <tr>
                    <th scope="col"> Tipo Dispositvo</a></th>
                    <th scope="col"> Modelo</th>
                    <th scope="col"> fecha fabricacion</th>
                </tr>
            </tr>
        </thead>
        <tbody>
            {% for dispositivo in dispositivos %}
            <tr class="bg-white border-b dark:bg-gray-900 dark:border-gray-700">
                <td class="px-5">
                    {{dispositivo.tipo}}
                </td>
                <td>
                    {{dispositivo.modelo}}
                </td>
                <td>
                    {{dispositivo.fecha_fabricacion}}
                </td>
                <td>
                    <a href="{% url 'deletedispositivo' usuario_id dispositivo.id %}">
                        <button class="text-white bg-red-500 hover:bg-red-600 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm p-2 text-center">Eliminar</button>
                    </a>
                </div>

                </td>
            </tr>            
            {% endfor %}
        </tbody>
    </table>

</div>
    </div>
</div>
<div class="w-10/12 lg:w-1/3  rounded px-8 pt-6 pb-8 m-4">
    <div class="mb-4 text-4xl font-extrabold leading-none tracking-tight text-gray-900 md:text-5xl lg:text-3xl ">
        Añadir dispositvo
    </div>
    {% include 'form.html' %}
</div>


{% endblock %}