{% extends 'base.html' %}
{% block content %}


<div class="mx-52 md:mx-40 w-11/12 md:w-8/12 pb-8">
    <form method="get" action="">
        <label for="default-search" class="mb-2 text-sm font-medium text-gray-900 sr-only dark:text-white">Buscar</label>
        <div class="relative">
            <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
                <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
                </svg>
            </div>
            <input type="search" id="default-search" name = "query" class="block w-full p-4 pl-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Nombres Apellidos" required>
            <button type="submit" class="text-white absolute right-2.5 bottom-2.5 bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Buscar</button>
        </div>

    </form>
</div>

<div class="flex items-center justify-center ">
    <div class="md:w-8/12">
        <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
        <table class="w-full text-sm text-left text-gray-500">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50">
            <tr>
                <tr>
                    <th scope="col">Codigo</th>
                    <th scope="col">Nombre Completo</th>
                    <th scope="col">carnet</th>
                    <th scope="col">Cargo</th>
                    <th scope="col">Accion</th>
                </tr>
            </tr>
        </thead>
        <tbody>
            {% for usuario in usuarios %}
            <tr class="bg-white border-b dark:bg-gray-900 dark:border-gray-700">
                <td>
                    {{usuario.codigo}}
                </td>
                <td>
                    {{usuario.nombre}}
                </td>
                <td>
                    {{usuario.carnet}}
                    {{usuario.extension}}
                </td>
                <td>
                    {{usuario.cargo}}
                </td>
                <td>
                    <div >
                        <a href="{% url 'encuesta' usuario.id %}">
                            <button class="text-white bg-blue-500 hover:bg-blue-600 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm p-2 text-center">
                                Encuesta
                            </button>
                        </a>
                        <a href="{% url 'editar_usuario' usuario.id %}">
                            <button class="text-white bg-green-500 hover:bg-green-600 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm p-2 text-center">
                                Editar
                            </button>
                        </a>
                        <a href="{% url 'dispositivos' usuario.id %}">
                            <button class="text-white bg-emerald-500 hover:bg-emerald-600 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm p-2 text-center">
                                Dispositivos
                            </button>
                        </a>
                    </div>
                </td>
            </tr>            
            {% endfor %}
        </tbody>
    </table>
    </div>
    </div>
</div>

{% endblock %}